<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Afacad:ital,wght@0,400..700;1,400..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jim+Nightshade&family=Judson:ital,wght@0,400;0,700;1,400&family=Junge&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@400..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Judson:ital,wght@0,400;0,700;1,400&family=Junge&family=Lavishly+Yours&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rouge+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Sob Veu</title>
</head>
<body>
    <div class="menu">
    <a href="/"><img id="logo"src="/static/img_home/Sob.png" alt="Logo"></a>
        <nav>
            <a href="/produtos/">Vestidos</a>
            <a href="#Colecoes">Coleções</a>
            <a href="/#Agendamentos">Agendamentos</a>
        </nav>
        <br> <br> <br>
        <div class="login-dropdown-wrapper">
          <img class="login"
            src="/static/img_home/login.png"
            width="20px"
            title="login"
            alt="login"
            id="login-icon"
          />

          <div id="login-dropdown" class="hidden">
            <h3><strong>Bem-vinda, Cecília!</strong></h3>
            <ul>
              <div class="opcoes">
                <a href="#">Sua Conta</a>
              </div>
              <div class="opcoes">
                <a href="#">Seus Pedidos</a>
              </div>
              <div class="opcoes">
                <a href="/carrinho/">Seu Carrinho</a>
              </div>
              <div class="opcoes">
                <a href="#">Comprar novamente</a>
              </div>
              </ul>
            <button id="logout-btn">Sair da conta</button>
          </div>
        </div>
        <div class="carrinho">
            <a href="/carrinho/" >
                <img src="/static/img_home/carrinho.png"
                width="20px"
                title="Carrinho"
                alt="Carrinho"
            />
            </a>
          </nav>
        </div>
    </div>

    <main>

<section id="frames">
    <div class="video-inicial">
      
    </div>
</section>

<section id="Sobre-nos">
  <div class="sobre-container">
    <div class="Sobre-veu">
      <div class="titulo-completo">
        <span class="sob">Sob Véu</span>
        <span class="texto1">é o espaço onde os sonhos das noivas ganham forma</span>
      </div>
      <p class="texto2">
        Aqui cada prova é vivida como um instante íntimo e inesquecível,<br>
        no qual a noiva se descobre diante do espelho: única, radiante e 
        pronta para dar mais um belo passo em sua história de amor.
      </p>
    </div>
<div id="box-noiva-img">
      <img src="/static/img_home/noiva-inicial.png" alt="noiva">
</div>

  </div>
</section>

<section id="vestidos">
  <div class="vestidos-iniciais">
    <h1>
      TOQUE DE <span class="destaque">eternidade</span> NO SEU GRANDE DIA
    </h1>
    <div class="galeria-vestidos">
      <div class="seta seta-esquerda">
        <img src="/static/img_home/seta esquerda.png" alt="Anterior">
      </div>
      <div class="items-produto">
        <img src="/static/img_home/vestido-1.png" alt="Vestido 1">
      </div>

      <div class="items-produto">
        <img src="/static/img_home/vestido 2.png" alt="Vestido 2">
      </div>

      <div class="seta seta-direita">
        <img src="/static/img_home/seta direita.png" alt="Próximo">
      </div>
    </div>

  </div>
</section>


<section id="Agendamentos">
  <div class="agendamentos">
    <h1>AGENDAMENTOS</h1>
    <div class="linha-abaixo"></div>
    <p>
      Seu grande dia merece um vestido a altura! Clique no botão abaixo e marque uma consultoria online.
    </p>
    <button id="botao-boasvindas">
      <span class="numero" >(11) 4002-8922</span>
      <img src="/static/img_home/telefone.png" alt="Telefone">
    </button>
  </div>
</section>

<section id="Coleções">
  <div class="colecoes">
    <hr class="linha-titulo">
    <h1>CONHEÇA NOSSAS COLEÇÕES</h1>
    <hr class="linha-titulo2">
    <div class="items-colecoes">
      <div class="items-colecao">
        <img src="/static/img_home/colecao2.png" alt="Coleção 1">
      </div>
      <div class="items-colecao destaque">
        <img src="/static/img_home/colecao1.png" alt="Coleção 2">
        <button id="botao-vercolecao">
        <span class="ver">Ver coleção</span>
        </button>
      </div>
      <div class="items-colecao">
        <img src="/static/img_home/colecao3.png" alt="Coleção 3">
      </div>
    </div>
    <hr class="linha-colecao">
  </div>
</section>

<section id="depoimentos">
  <div class="container">
    <h1>DEPOIMENTOS</h1>
    <div class="seta-esquerda2">
        <img src="/static/img_home/seta esquerda2.png" alt="Anterior">
      </div>
    <div class="box-depoimentos">
      <p>
        "Minha experiência na Sob Véu foi maravilhosa! Fui super bem atendida desde o primeiro momento e encontrei o vestido dos meus sonhos. Tudo com muito carinho e atenção aos detalhes. Recomendo de olhos fechados!"
      </p>
      <div class="autor">
        <img src="/static/img_home/depoimento1.png" alt="Juliana e seu cachorro">
        <span><b>Renata B.</b></span>
      </div>
    </div>

    <div class="box-depoimentos">
      <p>
        "Minha experiência na Sob Véu foi maravilhosa! Fui super bem atendida desde o primeiro momento e encontrei o vestido dos meus sonhos. Tudo com muito carinho e atenção aos detalhes. Recomendo de olhos fechados!"
      </p>
      <div class="autor">
        <img src="/static/img_home/depoimento2.png" alt="Guilherme e seu cachorro">
        <span><b>Giulia R.</b></span>
      </div>
    </div>
    <div class="seta-direita2">
        <img src="/static/img_home/seta direita2.png" alt="Próximo">
      </div>
  </div>
</section>

<footer>
  <img class="sob" src="/static/img_home/Sob.png" alt="">
  <ul> <p>Contatos</p> <br>
    <img class="telefone" src="/static/img_home/2gokRbP1IDl3BuRCfgic0r5CGMf-desktop-Photoroom.png" alt="" li>(11) 4002-8922</li>
    <br>
    <img class="whatsapp" src="/static/img_home/speech-bubble--v2-Photoroom.png" alt="" li>(11) 98291-1653</li>
    <li>sobveuoficial@gmail.com</li>
  </ul>
  <p class="linha">_________</p>
  <ul> <p> Sobre a loja: </p> <br>
    <li>Sobre nós</li>
    <li>Trocas e Devoluções</li>
    <li>Fretes e Entregas</li>
  </ul>
  <p class="linha">_________</p>
  <ul>
    <li>Política de Privacidade</li>
    <li>Termos de Uso</li>
  </ul>
</div>

<section class="midia">
  <img class="instagram" src="/static/img_home/pngtree-instagram-black-and-white-icon-png-image_6618439-Photoroom.png" alt="">
  <img class="facebook" src="/static/img_home/facebook-f-Photoroom.png" alt="">
</section>
  <p class="direitos">&copy; 2025 Sob Véu. Todos os direitos reservados.</p>

</footer>
</main>
<script>
  const loginIcon = document.getElementById('login-icon');
const loginDropdown = document.getElementById('login-dropdown');

loginIcon.addEventListener('click', () => {
  const isVisible = loginDropdown.style.display === 'block';

  loginDropdown.style.display = isVisible ? 'none' : 'block';
  
  // Ativa ou desativa a animação
  loginIcon.classList.toggle('login-active', !isVisible);
});

window.addEventListener('click', function (e) {
  if (!loginIcon.contains(e.target) && !loginDropdown.contains(e.target)) {
    loginDropdown.style.display = 'none';
    loginIcon.classList.remove('login-active');
  }
});

</script>

</body>
</html>