<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/usuario/login" method="post">
        <label>Nome de usuário:</label><br>
        <input type="text" name="nome_usuario"><br>
        <label>Senha:</label><br>
        <input type="password" name="senha"><br><br>
        <button type="submit">Entrar</button>
    </form>
    <p><a href="/usuario/registrar">Cadastre-se</a></p>
</body>
</html>