<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">  
  <title>Sob Véu</title>
  <link rel="stylesheet" href="/static/css/painel_usuario_produtos.css"> 
</head>

<!-- HEADER -->
<body>
<header>
  <section class="menu">
    <nav>
      <a href="/painel_usuario"> <img id="logo" src="/static/img_home/Sob.png" alt="Logo"></a> 
    </nav>  
    <nav class="paginas">
      <a href="/painel_usuario/produtos">Vestidos</a>
      <a href="/painel_usuario/produtos/#">Coleções</a>
      <a href="/painel_usuario/#Agendamentos">Agendamentos</a>
    </nav>
    <nav class="icons">
      <a href="#####">
        <img src="/static/img_home/login.png" width="20px" title="login" alt="login"/>
      </a>
      
      <a href="/painel_usuario/carrinho">
        <img src="/static/img_home/carrinho.png" width="20px" title="Carrinho" alt="Carrinho"/>
      </a>
    </nav>
  </section>
</header>

  
  <main>
    <h1>VESTIDOS DE NOIVA</h1>
    <section>    
        {% if produtos %}
          {% for produto in produtos %}
            <div class="vestido">   
              <nav>
                <a href="/painel_usuario/produtos/{{produto.id}}">  
                  <img src="{{url_for('static', path='uploads/' + produto.imagem1_url) }}" alt="{{produto.nome_produto}}"> 
                </a>
              </nav>
              <p class="nome">{{produto.nome_produto}}</p>
            </div>
          {% endfor %}
        {% else %}
          <p>Nenhum produto encontrado!</p>
        {% endif %} 
        
      </section>
  

    <nav>
      <a href="/painel_usuario">
        <button> ← Voltar à página inicial</button>
      </a>
      </nav>
  </main>
  
  <footer>
    <img class="sob" src="/static/img_home/Sob copy.png" alt="">
    <ul> <p>Contatos</p> <br>
      <img class="telefone" src="/static/img_home/telefone.png" alt="" li>(11) 4002-8922</li>
      <br>
      <img class="whatsapp" src="/static/img_home/speech-bubble--v2-Photoroom.png" alt="" li>(11) 98291-1653</li>
      <li>sobveuoficial@gmail.com</li>
    </ul>
    <p class="linha">___________</p>
    <ul> <p> Sobre a loja: </p> <br>
      <li>Sobre nós</li>  
      <li>Trocas e Devoluções</li>
      <li>Fretes e Entregas</li>
    </ul>
    <p class="linha">___________</p> 
    <ul>
      <li>Política de Privacidade</li>
      <li>Termos de Uso</li>
    </ul>
  </div>
  <section class="midia">
    <img class="instagram" src="/static/img_home/pngtree-instagram-black-and-white-icon-png-image_6618439-Photoroom.png" alt="">
    <img class="facebook" src="/static/img_home/facebook-f-Photoroom.png" alt="">
  </section>
    <p class="direitos">&copy; 2025 Sob Véu. Todos os direitos reservados.</p>
   
    </footer>
</body>
</html>