<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sob Véu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/css/painel_usuario_descricao.css"> 
</head>
<body>

      <div class="menu">
        <a href="/painel_usuario"><img id="logo" src="/static/img_home/Sob.png" alt="Logo"></a>
          <nav class="text-menu">
              <a href="/painel_usuario/produtos">Vestidos</a>
              <a href="/painel_usuario/produtos/{{produto.id}}/#">Coleções</a>
              <a href="/painel_usuario/produtos/{{produto.id}}/#Agendamentos">Agendamentos</a>
          </nav>
        
            <div class="login-dropdown-wrapper">
              <img class="login"
                src="/static/img_home/login.png"
                width="20px"
                title="login"
                alt="login"
                id="login-icon"
              />

              <div id="login-dropdown" class="hidden">
                <h3><strong>Bem-vinda, {{ primeiro_nome }}!</strong></h3>
                <ul>
                  <div class="opcoes">
                    <a href="/painel_usuario/meus_dados">Sua Conta</a>
                  </div>
                  <div class="opcoes">
                    <a href="/painel_usuario/meus_pedidos">Seus Pedidos</a>
                  </div>
                  <div class="opcoes">
                    <a href="/painel_usuario/carrinho">Seu Carrinho</a>
                  </div>
                  <div class="opcoes">
                    <a href="/painel_usuario/comprar_novamente">Comprar novamente</a>
                  </div>
                  </ul>
                <button id="logout-btn"><a href="/painel_usuario/lougout">Sair da conta</a></button>
              </div>
                
                  <a href="/painel_usuario/carrinho">
                      <img src="/static/img_home/carrinho.png"
                      width="20px"
                      title="Carrinho"
                      alt="Carrinho"
                  />
                  </a>
                
              </div>
          </div>

    <main>
        <h1>Início  >  Vestidos  >  Vestido Eternity</h1>

    <section>
        <div class="fotos">
            <div><img src="{{url_for('static', path= 'uploads/' + produto.imagem1_url)}}" alt="foto de frente"></div>
            <div><img src="{{url_for('static', path= 'uploads/' + produto.imagem2_url)}}" alt="foto de costa"></div>
            <div><img src="{{url_for('static', path= 'uploads/' + produto.imagem3_url)}}"></div>  
            <div><img src="{{url_for('static', path= 'uploads/' + produto.imagem4_url)}}" alt="foto do lado direito"></div>
        </div>
        
    </section>
    <section>  
        <div class="descricao">
            <h2 class="nomevestido">{{produto.nome_produto}}</h2> <br> <br>
            <h2 class="descricaovestido">DETALHES DO VESTIDO</h2>
            <br>
            <b class="subtitulo">Coleção: {{produto.categoria}}</b> 
         
            <ul>   
                <p>{{produto.descricao}}</p>
            </ul>

        </div>
        <div class="botoes"> 
            <div>
                <button class="compra"> <b> Compra: R${{produto.preco}} </b></button>
            </div>
            <div>   
                <button class="carrinho" data-id="{{ produto.id }}"> Adicionar no carrinho 🛒 </button>
            </div>
        </div>
        
        <nav>
            <div class="outrosvestidos">
                <a href="/painel_usuario/produtos"><button class="ver"> ← Continuar vendo outros vestidos</button></a>
            </div> 
        </nav>
    <section class="espacovariedades">
    <div class="conteinervariedade"> 
        <h3>MAIS VARIEDADES</h3>
        <p class="linhavariedade">________________________________________________________________</p>
        
        <div class="variedades">
          {% for sugestao in sugestoes %}
            <div class="imagem-container">
                <a href="/painel_usuario/produtos/{{ sugestao.id }}">
                    <img src="{{url_for('static', path= 'uploads/' + sugestao.imagem1_url)}}" alt="{{ sugestao.nome_produto }}">
                    <p class="nome">{{ sugestao.nome_produto }}</p>
                </a>
            </div>
          {% endfor %}
        </div>
    </div>
</section>

</main>
<footer>
    <img class="sob" src="/static/img_home/Sob copy.png" alt="">
    <ul> <p>Contatos</p> <br>
      <img class="telefone" src="/static/img_home/telefone.png" alt="" li>(11) 4002-8922</li>
      <br>
      <img class="whatsapp" src="/static/img_home/speech-bubble--v2-Photoroom.png" alt="" li>(11) 98291-1653</li>
      <li>sobveuoficial@gmail.com</li>
    </ul>
    <p class="linha">___________</p>
    <ul> <p> Sobre a loja: </p> <br>
      <li>Sobre nós</li>  
      <li>Trocas e Devoluções</li>
      <li>Fretes e Entregas</li>
    </ul>
    <p class="linha">___________</p> 
    <ul>
      <li>Política de Privacidade</li>
      <li>Termos de Uso</li>
    </ul>
  </div>
  <section class="midia">
    <img class="instagram" src="/static/img_home/pngtree-instagram-black-and-white-icon-png-image_6618439-Photoroom.png" alt="">
    <img class="facebook" src="/static/img_home/facebook-f-Photoroom.png" alt="">
  </section>
    <p class="direitos">&copy; 2025 Sob Véu. Todos os direitos reservados.</p>
   

</footer>
    
       <!-- <script src="carrinho.js"></script> -->

  <script>
const produtoAtual = {
  id: 1,
  nome: "Vestido Aurora",
  preco: 8000
};

const botaoCarrinho = document.querySelector('.carrinho');
const iconeCarrinho = document.getElementById('icone-carrinho');

botaoCarrinho.addEventListener('click', () => {
  adicionarAoCarrinho(produtoAtual);

  // Define o estilo de transição e animação via JS
  iconeCarrinho.style.transition = 'transform 0.3s ease';
  iconeCarrinho.style.transform = 'scale(1.6)';

  // Após o tempo da animação, volta ao normal
  setTimeout(() => {
    iconeCarrinho.style.transform = 'scale(1)';
  }, 300);
});

  </script>

  <script>
  const loginIcon = document.getElementById('login-icon');
const loginDropdown = document.getElementById('login-dropdown');

loginIcon.addEventListener('click', () => {
  const isVisible = loginDropdown.style.display === 'block';

  loginDropdown.style.display = isVisible ? 'none' : 'block';
  
  // Ativa ou desativa a animação
  loginIcon.classList.toggle('login-active', !isVisible);
});

window.addEventListener('click', function (e) {
  if (!loginIcon.contains(e.target) && !loginDropdown.contains(e.target)) {
    loginDropdown.style.display = 'none';
    loginIcon.classList.remove('login-active');
  }
});
</script>
</body>
</html>