<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Afacad:ital,wght@0,400..700;1,400..700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jim+Nightshade&family=Judson:ital,wght@0,400;0,700;1,400&family=Junge&family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>Sob Véu</title>
    <link rel="stylesheet" href="/static/css/produtos.css" />
  </head>

  <body>
    <!-- MENU FIXO RESPONSIVO -->
    <header class="menu">
      <!-- LOGO -->
      <a href="/">
        <img id="logo" src="/static/img_home/Sob.png" alt="Logo" />
      </a>

      <!-- BOTÃO HAMBÚRGUER (aparece só no mobile) -->
      <button class="hamburger" id="hamburger" aria-label="Abrir menu">
        ☰
      </button>

      <!-- NAV PRINCIPAL -->
      <nav class="text-menu" id="nav-menu">
        <a href="/produtos">Vestidos</a>
        <a href="/colecoes">Coleções</a>
        <a href="/#Agendamentos">Agendamentos</a>
      </nav>

      <nav class="icons">
        <a href="/usuario/login">
          <img
            src="/static/img_home/login.png"
            width="20px"
            title="login"
            alt="login"
          />
        </a>
        <a href="/painel_usuario/carrinho">
          <img
            id="icone-carrinho"
            src="/static/img_home/carrinho.png"
            width="20px"
            title="Carrinho"
            alt="Carrinho"
          />
        </a>
      </nav>
    </header>

    <!-- Overlay para escurecer o fundo no mobile -->
    <div class="overlay" id="overlay"></div>

    <main>
      <h1>VESTIDOS DE NOIVA</h1>

      <section>
        {% if produtos %} {% for produto in produtos %}

        <div class="card">
          <div class="vestido">
            <nav class="descricao">
              <a href="/produtos/{{produto.id}}">
                <img
                  src="{{url_for('static', path='uploads/' + produto.imagem1_url)}}"
                  alt="{{produto.nome_produto}}"
                />
              </a>
            </nav>

            <p class="nome">{{produto.nome_produto}}</p>
            <p class="valor">R$ {{produto.preco}}</p>
          </div>
        </div>

        {% endfor %} {% else %}
        <p>Nenhum produto encontrado!</p>
        {% endif %}
      </section>

      <nav>
        <a href="/painel_usuario">
          <button class="voltar-btn">← Voltar à página inicial</button>
        </a>
      </nav>
    </main>

    <footer>
      <!-- LOGO -->
      <img class="sob" src="/static/img_home/Sob copy.png" alt="Logo" />

      <!-- COLUNA 1 -->
      <div class="coluna">
        <p class="titulo">Contatos</p>
        <ul>
          <li>
            <img
              class="telefone"
              src="/static/img_home/telefone.png"
              alt="Telefone"
            />
            (11) 4002-8922
          </li>

          <li>
            <img
              class="whatsapp"
              src="/static/img_home/speech-bubble--v2-Photoroom.png"
              alt="WhatsApp"
            />
            (11) 98291-1653
          </li>

          <li>sobveuoficial@gmail.com</li>
        </ul>
      </div>

      <div class="linha"></div>

      <!-- SOBRE A LOJA -->
      <div class="coluna">
        <p class="titulo">Sobre a loja</p>

        <ul>
          <li
            onclick="
              abrirPopup(
                'Sobre Nós',
                'A Sob Véu nasceu com a missão de transformar sonhos em realidade por meio de vestidos de noiva exclusivos e atendimento personalizado. Selecionamos cuidadosamente cada modelo, priorizando qualidade, conforto e elegância para que cada noiva se sinta única em seu grande dia. Nossa equipe especializada acompanha você em cada etapa da escolha, oferecendo suporte, atenção aos detalhes e uma experiência acolhedora e inesquecível.',
              )
            "
          >
            Sobre nós
          </li>

          <li
            onclick="
              abrirPopup(
                'Trocas e Devoluções',
                'Caso o produto não atenda às suas expectativas, você poderá solicitar a troca ou devolução em até 7 dias corridos após o recebimento. Os produtos devem ser devolvidos sem uso, em sua embalagem original e acompanhados de todos os acessórios e etiquetas. Após a análise e aprovação da solicitação, o reembolso ou a troca será realizado conforme nossa política de atendimento. Entre em contato com nossa equipe para receber orientações detalhadas.',
              )
            "
          >
            Trocas e Devoluções
          </li>

          <li
            onclick="
              abrirPopup(
                'Fretes e Entregas',
                'Realizamos entregas para todo o território nacional por meio de transportadoras e serviços de logística parceiros. O valor do frete e o prazo estimado são calculados automaticamente durante a finalização da compra, de acordo com o CEP informado. Após o envio do pedido, um código de rastreamento será disponibilizado para que você acompanhe cada etapa da entrega. Trabalhamos para garantir que seu produto seja transportado com total segurança, qualidade e pontualidade.',
              )
            "
          >
            Fretes e Entregas
          </li>
        </ul>
      </div>

      <div class="linha"></div>

      <!-- INFORMAÇÕES -->
      <div class="coluna">
        <p class="titulo">Informações</p>

        <ul>
          <li
            onclick="
              abrirPopup(
                'Política de Privacidade',
                'A Sob Véu valoriza a sua privacidade e protege todas as informações fornecidas em nosso site. Seus dados pessoais são utilizados exclusivamente para processar pedidos, realizar atendimentos, enviar comunicações relacionadas às suas compras e melhorar sua experiência de navegação. Não compartilhamos informações com terceiros sem autorização, exceto quando necessário para a prestação dos serviços ou cumprimento de obrigações legais.',
              )
            "
          >
            Política de Privacidade
          </li>

          <li
            onclick="
              abrirPopup(
                'Termos de Uso',
                'Ao acessar e utilizar o site da Sob Véu, você concorda com os presentes termos e condições de uso. Todo o conteúdo disponibilizado, incluindo imagens, textos e informações sobre produtos, é protegido por direitos autorais e não pode ser reproduzido sem autorização. A Sob Véu reserva-se o direito de atualizar estes termos a qualquer momento para garantir a melhor experiência e segurança aos seus usuários.',
              )
            "
          >
            Termos de Uso
          </li>
        </ul>
      </div>

      <!-- REDES -->
      <section class="midia">
        <img
          class="instagram"
          src="/static/img_home/pngtree-instagram-black-and-white-icon-png-image_6618439-Photoroom.png"
          alt="Instagram"
        />

        <img
          class="facebook"
          src="/static/img_home/facebook-f-Photoroom.png"
          alt="Facebook"
        />
      </section>

      <p class="direitos">&copy; 2025 Sob Véu. Todos os direitos reservados.</p>
    </footer>

    <!-- MODAL -->
    <div id="popup" class="popup">
      <div class="popup-conteudo">
        <button class="fechar" onclick="fecharPopup()">×</button>

        <h2 id="popupTitulo"></h2>

        <p id="popupTexto"></p>
      </div>
    </div>
    <script>
      const nav = document.getElementById("nav-menu");
      const btn = document.getElementById("hamburger");
      const overlay = document.getElementById("overlay");

      function openMenu() {
        nav.classList.add("active");
        overlay.classList.add("active");
        document.body.style.overflow = "hidden";
      }

      function closeMenu() {
        nav.classList.remove("active");
        overlay.classList.remove("active");
        document.body.style.overflow = "";
      }

      btn.addEventListener("click", () => {
        if (nav.classList.contains("active")) {
          closeMenu();
        } else {
          openMenu();
        }
      });

      overlay.addEventListener("click", closeMenu);

      // fecha no ESC
      window.addEventListener("keydown", (e) => {
        if (e.key === "Escape") closeMenu();
      });
    </script>

    <script>
      function abrirPopup(titulo, texto) {
        document.getElementById("popupTitulo").textContent = titulo;
        document.getElementById("popupTexto").textContent = texto;

        document.getElementById("popup").classList.add("ativo");
      }

      function fecharPopup() {
        document.getElementById("popup").classList.remove("ativo");
      }

      document.getElementById("popup").addEventListener("click", function (e) {
        if (e.target === this) {
          fecharPopup();
        }
      });
    </script>
  </body>
</html>
