<!--produto.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/descricao.css"> 
    <title>Detalhe do produto</title>
</head>
<body>
    <h1>Detalhe do Produto</h1>
    <img src="{{url_for('static', path= 'uploads/' + produto.imagem1_url)}}" alt="{{produto.nome_produto}}"> </p>
    <img src="{{url_for('static', path= 'uploads/' + produto.imagem2_url)}}" alt="{{produto.nome_produto}}"> </p>
    <img src="{{url_for('static', path= 'uploads/' + produto.imagem3_url)}}" alt="{{produto.nome_produto}}"> </p>
    <img src="{{url_for('static', path= 'uploads/' + produto.imagem4_url)}}" alt="{{produto.nome_produto}}"> </p>
    <p><strong>Nome:</strong>{{produto.nome_produto}}</p>
    <p><strong>Detalhes:</strong>{{produto.descricao}}</p>
    <p><strong>Preço:</strong>{{produto.preco}}</p>
    <a href="/">Voltar</a>
</body>
</html>