* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MENU */
#logo {
  height: 80px;
  padding-left: 0;
  /*padding-left: 130px;  Espaço à esquerda do logo */
  /*alterado*/
}

.icons {
  gap: 5px;
  justify-content: center;
  display: flex;
  padding-right: 150px;
}

.menu {
  /*alterado*/
  height: 90px;
  position: fixed;
  /*original*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /*original*/
  background-color: hsla(0, 0%, 100%, 0.75);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  /* controla o respiro nas laterais */
  /* position: fixed;
  z-index: 9999; */
}

/* Estilo dos links dentro do nav */
.menu nav a {
  color: #523800;
  font-size: 20px;
  /* Define o tamanho da fonte */
  padding: 25px;
  /* Espaçamento interno */
  text-decoration: underline;
  /* Ativa o sublinhado */
  text-decoration-color: rgba(82, 56, 0, 0.192);
  /* Cor do sublinhado com transparência */
}

.text-menu {
  /*alterado*/
  display: flex;
  gap: 200px;
  /* mais elegante que gap 200px (quebrava tudo) */
  font-family: "Libre Caslon Text";
}

.text-menu a {
  /*alterado*/
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(82, 56, 0, 0.192);
  color: #523800;
}



#hamburger {
  appearance: none;
  -webkit-appearance: none;
}

html {
  background-color: #eae4d8;
}

body {
  display: flex;
  flex-direction: column;
  /* Organiza os itens na vertical (coluna) */
  min-height: 100vh;
  /* Garante que o corpo ocupe toda a altura da tela */
  margin: 0;
  /* Remove a margem padrão */
  padding: 0;
  /* Remove o preenchimento padrão */
  overflow-x: hidden;
  /* Impede rolagem horizontal */
  background-color: #eae4d8;
  color: #3a2d20;
}

/* Estilo para os links do menu ao passar o mouse (hover) */


/*==================================MAIN=====================*/


/* PAGINA SOBRE NOS */


#Sobre-nos {
  background-color: #EDDBBE;
  display: flex;
  justify-content: center;

  min-height: 738px;
  /* deixa adaptar ao conteúdo */
  height: 10vh;
}

/* Container texto + imagem */
.sobre-container {
  display: flex;
  justify-content: center;
  /* centraliza os dois blocos */
  align-items: center;
  gap: 200px;
  /* deixa mais próximo */

}

/* Bloco de texto à esquerda */
.Sobre-veu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  max-width: 500px;
  /* deixa mais estreito */
  border-left: 2px solid #d4b887;
  /* linha vertical ao lado */
  padding-left: 25px;
  /* espaço entre a linha e o texto */
}

/* Título */
.titulo-completo {
  display: block;
  /* força ficar em coluna */
  font-size: 25px;
  font-family: Junge, serif;
  color: #523800;
}

/* “Sob Véu” */
.sob {
  display: block;
  font-family: "Libre Caslon Display", serif;
  font-size: 80px;
  color: #523800;
  margin-bottom: 10px;
}

.texto1 {
  display: block;
  font-family: "Junge", serif;
  font-size: 24px;
  color: #523800;
  margin-bottom: 10px;
}

/* Texto do parágrafo */
.texto2 {
  font-family: Judson, serif;
  font-size: 20px;
  color: #523800;
  line-height: 1.6;

}

/* Imagem da noiva */
#box-noiva-img img {
  width: 570px;
  /* ajustado para não ficar muito grande */
  height: 650px;
  display: block;
}


/* AGENDAMENTOS */

#Agendamentos {
  clear: both;
  background-color: #DFCAA4;
  width: 100%;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;



}

.agendamentos {
  text-align: center;
}

.agendamentos p {
  color: #790000;
  margin-top: 20px;
  font-size: 24px;
  font-family: "Afacad";

}

h1 {
  text-align: center;
  color: #790000;
  font-size: 48px;
  letter-spacing: 2px;
  font-family: "Aboreto";
  font-weight: 400;
  margin-top: -10px;
}

.linha-abaixo {
  width: 300px;
  /* largura da linha */
  font-weight: 400px;
  border-bottom: 1px solid #790000;
  margin: 0 auto 20px auto;
  /* centraliza e espaça abaixo */
  margin-top: 10px;
}

.numero {
  font-family: "Afacad";
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: white; 
}


#botao-boasvindas img {
  width: 20px;
  height: 20px;
}

#botao-boasvindas:hover {
  background-color: #5a0000;
}

/* Vestidos */

/* Seção principal com ID "vestidos" */
#vestidos {
  height: 57vh;
  /* Altura fixa da seção */
  padding: 60px 40px;
  /* Espaçamento interno (60px em cima/baixo, 40px nos lados) */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin-top: 30px;
}

/* Estilização do título (h1) dentro da seção "vestidos" */
#vestidos h1 {
  font-family: "Aboreto", serif;
  /* Fonte do título */
  font-size: 28px;
  /* Tamanho da fonte */
  color: #523800;
  /* Cor do texto */
  margin-bottom: 40px;
  /* Espaço abaixo do título */
  letter-spacing: 1px;
  /* Espaçamento entre as letras */
}

/* Destaque para uma parte do título com a classe "destaque" */
#vestidos h1 .destaque {
  font-family: "Dancing Script", cursive;
  /* Fonte diferenciada */
  font-style: italic;
  /* Estilo itálico */
  font-weight: bold;
  /* Negrito */
  color: #7a4a00;
  /* Cor diferenciada para destaque */
  font-size: 40px;
}

/* Container principal das imagens + setas (navegação) */
.vestidos-iniciais .galeria-vestidos {
  display: flex;
  /* Layout flexível em linha */
  justify-content: center;
  /* Centraliza os elementos horizontalmente */
  align-items: center;
  /* Centraliza os elementos verticalmente */
  gap: 100px;
  /* Espaçamento entre os itens (imagens e setas) */


}

/* Estilização das imagens dos vestidos */
.vestidos-iniciais .items-produto img {
  width: 400px;
  /* Largura fixa das imagens */
  height: 400px;
  ;
  /* Altura proporcional à largura */
  border-radius: 4px;
  /* Bordas levemente arredondadas */
  display: block;
  /* Garante que a imagem ocupe toda a linha disponível */
}

/* Estilização das setas de navegação */
.seta img {
  width: 15px;
  /* Largura fixa das setas */
  height: 20px;
  /* Altura proporcional */
  cursor: pointer;
  /* Cursor muda para mãozinha ao passar o mouse */

}


/* COLECÇOES */

/* Sessão Coleções */
#Coleções {
  height: 200hv;
  text-align: center;
  margin-top: 100px;
}

.linha-titulo {
  width: 456px;
  background: #FFC958;
  margin: 0 auto 15px;
  /* centraliza e dá espaçamento */
}

.linha-titulo2 {
  width: 456px;

  background: #FFC958;
  margin: 0 auto 15px;
  /* centraliza e dá espaçamento */
  margin-bottom: 90px;
}


#Coleções h1 {
  color: #4a3c26;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 44.8px */
}


/* Container dos itens */
.items-colecoes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}



.items-colecao img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Inclinação das laterais */
/* .items-colecao:first-child {
  transform: rotate(-6deg);
}

.items-colecao:last-child {
  transform: rotate(6deg);
} */


/* Itens laterais */
.items-colecao {
  width: 380px;
  height: 500px;
  ;
  /* menor altura */
  border-radius: 6px;
  margin-top: 80px;
}

/* Imagem central em destaque */
/* .items-colecao.destaque { */
  /* width: 350px;
  height: 500px; */
  /* maior altura */
  /* z-index: 2;
  /* fica acima das outras */
  /* margin-top: -30px; */ 

/* } */




.linha-colecao {
  margin: 20px auto;
  width: 500px;

}



/* DEPOIMENTOS */
#depoimentos {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 40vh;
  margin-top: 180px;
}

#depoimentos h1 {
  font-size: 30px;
  color: #222;
  font-weight: 400;
  margin-bottom: 40px;
  letter-spacing: 2px;
  margin-top: -90px;
}

.box-depoimentos {
  width: 525px;
  min-height: 160px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #462506;
  /* borda discreta marrom */
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: #FBFCF7;
}

.box-depoimentos p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 20px;
  ;
  width: 484px;
  font-family: "Abhaya Libre ExtraBold";
}

.autor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.autor img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 50%;
  /* deixa redondo */
  object-fit: cover;
}

.autor span {
  margin-top: 20px;
  font-size: 14px;
  color: #000;
}

#depoimentos .container {
  position: relative;
  /* referência pras setas */
}

.seta-esquerda2,
.seta-direita2 {
  position: absolute;
  top: 55%;
  /* centraliza verticalmente em relação às caixas */

  cursor: pointer;
}

.seta-esquerda2 {
  left: 260px;
  /* cola no lado esquerdo */
  width: 15px;
  /* Largura fixa das setas */
  height: 20px;
}

.seta-direita2 {
  right: 260px;
  /* cola no lado direito */
  width: 15px;
  /* Largura fixa das setas */
  height: 20px;
}

/*=============================FOOTER=====================*/
/* foooter */

/*================================================*/




#botao-boasvindas {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* espaço entre número e ícone */
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #790000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.video-inicial {
    width: 100%;
    height: 95vh; /* altura do banner */
    position: relative;
    overflow: hidden;
}

.video-inicial .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz o vídeo se comportar igual a background-size: cover */
}

/* Permite posicionar o botão por cima */
.items-colecao {
  position: relative;
}

/* BOTÃO SOBRE A IMAGEM */
.btn-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza perfeitamente */
  background: rgba(255, 255, 255, 0.28);  /* igual ao efeito da foto */
  border: 1px solid rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  padding: 8px 3px;
  width: 230px;
}

/* TEXTO DO BOTÃO */
.btn-overlay span {
  display: block;
  font-weight: 400;
}

/* BOTÃO CENTRAL — CHAMA SERENA — fonte serif elegante */
.btn-overlay.centro span {
  font-family: "Georgia", serif;
  font-size: 32px;
  text-transform: none;
  letter-spacing: 1px;
}

/* .items-colecao.destaque {
  width: 400px;
  height: 550px;
} */

/* .items-colecao {
    transition: transform 0.5s ease;
}

.items-colecao.animando {
    transition: transform 0.5s ease;
} */

/* ============================= */
/*   CARROSSEL VIP FINAL        */
/* ============================= */

.items-colecao {
  width: 380px;
  height: 500px;
  border-radius: 6px;
  transition: 
      transform 0.15s cubic-bezier(0.16, 1, 0.3, 1),
      z-index 0s;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
}

/* POSIÇÕES FIXAS */

.items-colecao.esquerda {
  transform: rotate(-6deg) scale(0.9) translateY(20px);
  opacity: 0.75;
  z-index: 1;
}

.items-colecao.direita {
  transform: rotate(6deg) scale(0.9) translateY(20px);
  opacity: 0.75;
  z-index: 1;
}

.items-colecao.centro {
  height: 560px;      /* ALTURA DO CENTRO */
  width: 420px;  
  margin-top: -30px;
  transform: rotate(0deg) translateY(-30px);
  z-index: 10;
  opacity: 1;
}

/* DURANTE ANIMAÇÃO */

.items-colecao.vai-centro {
  transform: scale(0.0) translateY(-30px);
  
  z-index: 10;
}

.items-colecao.vai-esquerda {
  transform: rotate(-6deg) scale(0.9) translateY(20px) translateX(-380px);
  z-index: 1;
}

.items-colecao.vai-direita {
  transform: rotate(6deg) scale(0.9) translateY(20px) translateX(380px);
  z-index: 1;
}


/* BOTÃO CENTRAL MAIS DESTACADO */

.items-colecao.centro .btn-overlay {
  transform: translate(-50%, -50%) scale(1.1);
}

.items-colecao .btn-overlay {
  transition: transform 0.6s ease;
}

.items-colecao.esquerda,
.items-colecao.direita {
  height: 520px;
  width: 360px;
  opacity: 0.85;
}


/* transição vestidos */

.items-produto {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.items-produto .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 
    transform .6s ease,
    opacity .6s ease;
}

.items-produto img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantém tudo bonito */
}

/* SAÍDA */
.sair-esquerda {
  transform: translateX(-260px);
  opacity: 1;
}

.sair-direita {
  transform: translateX(260px);
  opacity: 1;
}

/* ENTRADA */
.entrar-esquerda {
  transform: translateX(-260px);
  opacity: 1;
}

.entrar-direita {
  transform: translateX(260px);
  opacity: 1;
}

.entrar-esquerda,
.entrar-direita {
  animation: entrar .1s ease forwards;
}

@keyframes entrar {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.botao-vercolecao {
  background: transparent;
  border: 1px solid #4E3902;
  padding: 5px 28px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  margin-top: 20px;
  /* espaçamento positivo abaixo da imagem */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* centraliza o botão */
  margin-top: 30px;
}



.ver a {
  text-align: center;
  font-family: "Judson";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 44.8px */
  padding: 20px 30px;
  text-decoration: none;
}