<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    {% if produtos %}
        {% for produto in produtos %}
        <li>
            <img src="{{url_for('static', path='uploads/' + produto.imagem1_url) }}" alt="produto.nome_produto">
            <h2>{{ produto.nome_produto }}</h2>
            <p class="preco">R$ {{ produto.preco }}</p>
            <a href="/produtos/{{produto.id}}">Ver Detalhes</a>
        {% endfor %}
        </li>
    {% else %}
            <p>Nenhum produto encontrado!</p>
    {% endif %}   
</body>
</html>
