<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos disponíveis</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                <strong>{{ produto.nome_produto }}</strong><br>
                Preço: R$ {{ produto.preco }}<br>
                Cor: {{ produto.cor }}<br>
                <img src="{{ produto.imagem1_URL }}" alt="{{ produto.nome_produto }}" width="200"><br>
                <img src="{{ produto.imagem2_URL }}" alt="{{ produto.nome_produto }}" width="200"><br>
                <img src="{{ produto.imagem3_URL }}" alt="{{ produto.nome_produto }}" width="200"><br>
                <img src="{{ produto.imagem4_URL }}" alt="{{ produto.nome_produto }}" width="200"><br>
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>
