<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">  
  <title>Sob Véu</title>
  <link rel="stylesheet" href="/static/css/produtos.css"> 
</head>

<!-- HEADER -->
<header>
  <section class="menu">
    <nav>
      <a href="home.html"> <img id="logo" src="/static/img_home/Sob.png" alt="Logo"></a> 
    </nav>  
    <nav class="paginas">
      <a href="produtos.html">Vestidos</a>
      <a href="#Colecoes">Coleções</a>
      <a href="#Agendamentos">Agendamentos</a>
    </nav>
    <nav class="icons">
      <a href="" target="_blanck">
        <img src="/static/img_home/login.png" width="20px" title="login" alt="login"/>
      </a>
      <a href="carrinho.html" target="_blanck">
        <img src="/static/img_home/carrinho.png" width="20px" title="Carrinho" alt="Carrinho"/>
      </a>
    </nav>
  </section>
</header>
<body>
  
  <main>
    <h1>VESTIDOS DE NOIVA</h1>
    <section>
      <div class="vestido"> 
        <nav class="descricao">
          <a href="descricaoAurora.html">  
            <img src="" alt="">
          </a>  
        </nav>
            <p class="nome">Aurora</p>
        </div>
     

        <div class="vestido"> 
          <nav>
            <a href="descricaoTereza.html">  
              <img src="imagem/Image (1).png" alt=""> 
            </a>
            </nav>
            <p class="nome">Tereza</p>
        </div>

        <div class="vestido"> 
          <img src="imagem/Image (2).png" alt=""> 
          <p class="nome">Camélia</p>
        </div>
      </section>
  
    
    <section >
      <div class="vestido"> 
        <img src="imagem/Image (3).png" alt=""> 
        <p class="nome">Eve</p>
      </div>

      <div class="vestido">
        <img src="imagem/Image (4).png" alt="">
        <p class="nome">Âmbar</p>
      </div>

      <div class="vestido">
        <img src="imagem/Image (5).png" alt="">
        <p class="nome">Serena</p>
      </div>
      </section>

    <section>
      <div class="vestido">
        <img src="imagem/Image (6).png" alt="">
        <p class="nome">Miranda</p>
      </div>

      <div class="vestido"> 
        <img src="imagem/Image (7).png" alt=""> 
        <p class="nome">Jasmin</p>
      </div>
      
      <div class="vestido"> 
        <img src="imagem/Image (8).png" alt=""> 
        <p class="nome">Lottie</p>
      </div>
    </section>
    <nav>
      <a href="home.html">
        <button> ← Voltar à página inicial</button>
      </a>
      </nav>
  </main>
  
  <footer>
    <img class="sob" src="/static/img_home/Sob copy.png" alt="">
    <ul> <p>Contatos</p> <br>
      <img class="telefone" src="/static/img_home/telefone.png" alt="" li>(11) 4002-8922</li>
      <br>
      <img class="whatsapp" src="/static/img_home/speech-bubble--v2-Photoroom.png" alt="" li>(11) 98291-1653</li>
      <li>sobveuoficial@gmail.com</li>
    </ul>
    <p class="linha">___________</p>
    <ul> <p> Sobre a loja: </p> <br>
      <li>Sobre nós</li>  
      <li>Trocas e Devoluções</li>
      <li>Fretes e Entregas</li>
    </ul>
    <p class="linha">___________</p> 
    <ul>
      <li>Política de Privacidade</li>
      <li>Termos de Uso</li>
    </ul>
  </div>
  <section class="midia">
    <img class="instagram" src="/static/img_home/pngtree-instagram-black-and-white-icon-png-image_6618439-Photoroom.png" alt="">
    <img class="facebook" src="/static/img_home/facebook-f-Photoroom.png" alt="">
  </section>
    <p class="direitos">&copy; 2025 Sob Véu. Todos os direitos reservados.</p>
   
    </footer>
</body>
</html>