* {
    margin:0;
    padding: 0;
}

body {
    display: flex; 
    flex-direction: column; /* Organiza os itens na vertical (coluna) */
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    overflow-x: hidden; /* Impede rolagem horizontal */
    background-color: #EAE4D8; 
    
}

/* MENU */
#logo {
    
    height: 80px; /* Define a altura do logo */
    padding-left: 130px; /* Espaço à esquerda do logo */
}

.icons {
    gap: 5px;
    justify-content: center;
    display: flex;
    padding-right: 150px;
}



.menu {
    position: fixed; /* Fixa o menu na tela */
    z-index: 1; /* Garante que o menu fique acima de outros elementos */
    display: flex; /* Organiza os itens do menu em linha */
    width: 100%; /* O menu ocupa toda a largura da tela */
    align-items: center; /* Centraliza os itens na vertical */
    justify-content: space-between; /* Distribui os itens do menu com espaços entre eles */
    background-color: hsla(0, 0%, 100%, 0.692); /* Cor de fundo com transparência */
    font-family: 'Open Sans', sans-serif; /* Fonte do menu */
    color: #ffffff; /* Cor do texto do menu */
}

/* Estilo do menu de navegação */
.menu nav{
    justify-content: center;
    display: flex;
    font-family: "Libre Caslon Text";
    font-size: 22px;
    color: #523800;
   
}

.categorias{
    justify-content: center;
    display: flex;
    font-family: "Libre Caslon Text";
    font-size: 22px;
    color: #523800;
    gap: 200px;
}

/* Estilo dos links dentro do nav */
nav a {
    color: #523800;
    font-size: 20px; /* Define o tamanho da fonte */
    padding: 25px; /* Espaçamento interno */
    text-decoration: underline; /* Ativa o sublinhado */
    text-decoration-color: rgba(82, 56, 0, 0.192); /* Cor do sublinhado com transparência */
}

/* Estilo para os links do menu ao passar o mouse (hover) */



/* breadcrumb  */

.breadcrumb {
    justify-content: center;
    display: flex;
    margin-top: 150px;
}

.breadcrumb a {
  text-decoration: none;
  color: #5a3d1c;
  font-size: 18px;
  gap:3px;
  font-family: "Libre Caslon Text";
}

.breadcrumb a::after {
  content: " > ";
}

.breadcrumb a:last-child::after {
  content: ""; /* remove o último > */
}


.card-carrinho{
    background-color: #EAE4D8; 
    justify-content: center;

    
}

main .card-carrinho{
  margin-top: 100px;
}

/* card do carrinho */
.produto-vestido h1{
  background-color: #FFF;
  padding:20px;
}
.produto-vestido {
  background-color: #E3D2AC; /* Cor do fundo */
  width: 700px;
  color: #000;
  height: 350px;
  margin: 60px 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  align-items: center;        /* centraliza verticalmente */
  gap: 20px;                  /* espaço entre os elementos */

}

.produto-vestido input[type="checkbox"] {
  align-self: flex-start;      /* checkbox sobe (como na imagem) */
  margin-top: 20px;
}

.imagem-carrinho img {
  width: 150px;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centraliza verticalmente dentro da área */
  gap: 5px;
}

.info h3 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

#quantidade {
  padding: 3px;
  margin-top: 5px;
  border: 1px solid #523800;
  border-radius: 4px;
}

.pedido-total{
  background-color: #E3D2AC; /* Cor do fundo */
  width: 368px;
  color: #000;
  height: 161px;
  margin: 60px 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  align-items: center;        /* centraliza verticalmente */
  gap: 20px;                  /* espaço entre os elementos */
  padding: 20px;
}


/* sessao variedades */

/* sessao variedades */
#variedades {
  height: 90vh;
  background-color: #FFF9ED;
  text-align: center;
  margin-top: 100px;
}

.linha-titulo3 {
  width: 456px;
  color: #4E3902;
  margin: 0 auto 15px; /* centraliza e dá espaçamento */
}

#variedades h1 {
  margin-top: 40px;
  color: #681616;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  font-family: "Aboreto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
}

.vestido {
  display: flex;
  flex-direction: column; /* alinha imagem e texto verticalmente */
  align-items: center; /* centraliza horizontalmente */
  height: auto;
  padding-bottom: 20px;
  margin: 40px 120px;
  background: none;
}

.vestido img {
  position: static;
  width: 352px;
  height: 697px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.vestido:hover img {
  transform: scale(1.10);
}

.nome {
  color: #000;
  text-align: center;
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-top: 40px;
}

.lista-vestidos {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.vestido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#voltar {
  font-family: "Libre Caslon Text";
  height: 50px;
  width: 230px;
  color: darkred;
  background-color: #EADCC1CC;
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  font-size: 19px;

  display: block;
  margin: 30px 0 0 40px; /* joga para a esquerda */
  text-align: left;
}
 
#voltarect {
  border-color: red;
  transform: scale(1.10);
}

#voltar:hover {
  border-color: darkred;
  transform: scale(1.05);
}



/* foooter */
footer{
  background-color: #5a0101;
  color: white;
  padding: 40px 0; /* aumenta altura */
  display: flex;
  justify-content: space-evenly;  
  align-items: flex-start; /* alinhar tudo no topo */
  flex-wrap: wrap; /* quebra linha caso precise */
  margin-top: 20px; /* espaço entre o footer e o conteúdo */

}

footer ul {
  font-family: "Inter", sans-serif;
  list-style: none;
  text-align:center; 
}

footer li {
  margin-top: 40px;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}


.whatsapp, .telefone{
    height: 20px;
}


.instagram, .facebook{
  height: 40px;
  text-align: right;
}


.sob{
    height: 100px;
    margin-top: 90px;
    margin: -10px;
}

.linha{
    width: 170px;
    transform: rotate(-90.164deg);
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 420px;
    margin-top: 50px;
}

.direitos{
    width: 100%;
    text-align: left;
    margin-top: 160px;
    font-size: 15px;
    margin-left: 60px;
}

.midia{
  float: right;
   display: grid;
  gap: 15px;
}